/* Color variables in :root */
:root {
  --primary-color: #22ddff;
  --secondary-color: #f1a64e;
  --text-color: #ccc;
  --background-color: #1d1d20;
}

/* Reset styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Global link styles */
a {
  text-decoration: none;
  font-size: clamp(1rem, 2vw + 0.1rem, 1.5rem);
  cursor: pointer;
}
a:link {
  color: var(--text-color);
}
a:visited {
  color: var(--text-color);
}
a:hover {
  color: var(--text-color);
}
a:active {
  color: var(--text-color);
}
a:focus {
  color: var(--primary-color);
  border: 0.1rem solid var(--secondary-color);
}
/* Navigation */
ul,
ol {
  list-style-type: none;
}
/* Header styles*/
h1 {
  font-size: clamp(2rem, 2vw + 0.1rem, 3.5rem);
}
h2 {
  font-size: clamp(1.5rem, 2vw + 0.1rem, 3rem);
  color: var(--primary-color);
}
h3 {
  font-size: clamp(1.2rem, 2vw + 0.1rem, 2rem);
}
/* Paragraph styles */
p {
  font-size: clamp(1rem, 2vw + 0.1rem, 1.2rem);
  line-height: 1.5rem;
}
span {
  font-size: clamp(1rem, 2vw + 0.1rem, 1.4rem);
}
/* Body styles */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Inter", sans-serif;
  min-height: 120lvh;
  overflow-y: auto;
  max-width: 2592px;
  margin: 0 auto;
}
.body-index {
  min-height: 100vh;
  max-height: 100vh;
}

/* Styling for the skip link */
.skip-link {
  position: absolute;
  top: -5rem;
  left: 5vw;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 5px 10px;
  text-decoration: none;
  outline: none;
  border: none;
  z-index: 5;
}

/* Styling for the skip link when focused */
.skip-link:focus {
  top: 1rem;
  display: block;
  border: 0.1rem solid var(--primary-color);
}

/*************** index/nav design starts here ********************/

.video-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.background-video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.video-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(29, 29, 32, 0.5);
}
.nav-h1 {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 2rem;
  z-index: 3;
  color: var(--text-color);
  background-color: var(--background-color);
  border-bottom: 0.01rem solid var(--primary-color);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.index-h1 {
  background-color: unset;
}
nav {
  position: fixed;
  z-index: 3;
  top: 5rem;
  width: 100%;
}

.email-icon {
  position: fixed;
  width: 3rem;
  height: auto;
  right: 2rem;
  top: -1rem;
  z-index: 3;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

nav ul {
  line-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--background-color);
  padding-top: 2rem;
  text-align: center;
}

.index-ul {
  background-color: unset;
}

.nav {
  position: fixed;
  z-index: 3;
  top: 5rem;
  width: 100%;
}

.nav ul {
  line-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--background-color);
  padding-top: 2rem;
  text-align: center;
}

.nav ul .nav-link {
  width: 9rem;
  position: relative;
  color: var(--text-color);
  font-weight: bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.homepage-nav ul {
  background-color: unset;
}

.intro-paragraphs {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 55%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  padding-left: 1rem;
}

.intro-paragraphs p {
  margin: 2rem 0;
}
.nav-h1-shrink {
  font-size: 1rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.email-icon-shrink {
  width: 2rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
/*********************** index design ends here ***************/

/*********************** about design starts here ***************/
.container {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.education-section,
.skills-section {
  border-top: 0.01rem solid var(--text-color);
  padding-top: 0.5rem;
  margin-top: 1rem;
  text-align: left;
}
.section {
  border-top: 0.01rem solid var(--text-color);
  margin: 3rem auto 0;
  width: 90%;
  text-align: left;
}
.section h3 {
  padding-top: 1rem;
}
.about-spans,
.skills-spans {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.about-spans span {
  border: 0.01rem solid var(--secondary-color);
  display: inline-block;
  width: max-content;
  padding: 0.5rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.in-progress {
  margin-top: 1rem;
}
.coursera,
.credly {
  margin-top: 2rem;
}
.coursera a,
.credly a {
  font-size: clamp(1rem, 3vw + 0.2rem, 1.2rem);
  color: var(--primary-color);
  border: 0.01rem solid var(--primary-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.date {
  margin-top: 1rem;
  font-size: 1rem;
}
.skills-spans span {
  border: 0.01rem solid var(--primary-color);
  color: var(--primary-color);
  display: inline-block;
  width: max-content;
  padding: 0.5rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.last {
  margin-bottom: 3rem;
}
/*********************** projects design starts here ***************/
.section h2 {
  margin-top: 1rem;
  border-top: 0.01rem solid var(--primary-color);
  border-right: 0.01rem solid var(--primary-color);
  border-bottom: 0.01rem solid var(--primary-color);
  width: max-content;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}
img {
  width: 100%;
  height: auto;
  display: block;
  margin: 3rem auto;
}
.objectives-container {
  border-left: 0.01rem solid var(--primary-color);
  padding-left: 1rem;
}
.objectives-container p {
  margin-bottom: 2rem;
}
p {
  margin: 1rem auto;
}
.created-with {
  margin-top: 3rem;
}
.created-with-container {
  display: flex;
  flex-wrap: wrap;
}
.created-with-container span {
  border: 0.01rem solid var(--primary-color);
  display: inline-block;
  width: max-content;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.visit-website {
  border: 0.01rem solid var(--secondary-color);
  color: var(--secondary-color);
  display: inline-block;
  width: max-content;
  padding: 0.5rem;
  margin: 2rem 0;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.last {
  margin-bottom: 10rem;
}
/*********************** projects design ends here ***************/
/************************* contact design starts here ***********/

.contact-intro {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 80vw;
  transform: translate(-50%, -20%);
  -webkit-transform: translate(-50%, -20%);
  -moz-transform: translate(-50%, -20%);
  -ms-transform: translate(-50%, -20%);
  -o-transform: translate(-50%, -20%);
}
form {
  position: absolute;
  top: 85%;
  left: 50%;
  width: 80vw;
  padding-bottom: 10rem;
  transform: translate(-50%, -40%);
  -webkit-transform: translate(-50%, -40%);
  -moz-transform: translate(-50%, -40%);
  -ms-transform: translate(-50%, -40%);
  -o-transform: translate(-50%, -40%);
}
.form-field {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 4rem 0;
  position: relative;
}
label {
  position: absolute;
  top: 0;
  font-size: clamp(1rem, 3vw + 0.2rem, 1.2rem);
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.shrink {
  top: -1.5rem;
  color: var(--primary-color);
  font-size: 1rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
input,
textarea {
  font-size: 1rem;
  background-color: inherit;
  outline: none;
  border: none;
  border-right: 0.1rem solid var(--primary-color);
  border-bottom: 0.1rem solid var(--primary-color);
  border-left: 0.1rem solid var(--primary-color);
  padding: 0.5rem;
  color: var(--text-color);
}
input:focus + label,
textarea:focus + label {
  top: -2rem;
  color: var(--primary-color);
  font-size: 1rem;
  padding-left: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.submit-button {
  display: block;
  width: 8rem;
  padding: 0.3rem 0.5rem;
  color: var(--text-color);
  outline: none;
  border: 0.1rem solid var(--primary-color);
  background-color: inherit;
  font-size: clamp(1rem, 3vw + 0.2rem, 1.3rem);
}
.submit-button:hover {
  cursor: pointer;
}
.submit-button:focus {
  border: 0.1rem solid var(--secondary-color);
  color: var(--primary-color);
}
.success-hide {
  color: var(--background-color);
}
.success-show {
  font-size: clamp(1rem, 3vw + 0.2rem, 1.2rem);
  color: var(--primary-color);
  margin-bottom: 1rem;
}
.success-show span {
  color: var(--secondary-color);
}
/************************* contact design ends here ***********/

/********************* 404 design starts here****************/
.back-to-home {
  background-color: inherit;
  outline: none;
  border: 0.01rem solid var(--primary-color);
  width: max-content;
  padding: 0.4rem 0.8rem;
}
/********************* 404 design ends here****************/

/*************************** footer design starts here ***********/
footer {
  position: fixed;
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  justify-content: space-between;
  width: 100vw;
  bottom: 0;
  padding: 0rem 2rem 0 2rem;
  height: 6rem;
  left: 0;
  right: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.footer-shrink {
  height: 3rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.footer-shrink .react-div p {
  display: none;
}
.footer-shrink .react-div {
  margin-right: -0.8rem;
}
.footer-shrink .icon {
  width: 2rem;
  height: 2rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.footer-shrink .react-div img {
  width: 3rem;
  height: 3rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.footer-index {
  background-color: unset;
}
.linked-in-git {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8rem;
}
.react-div {
  margin-right: 1rem;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.icon img {
  padding: 0;
  margin: 0;
  display: block;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.linked-in {
  border: 0.1rem solid var(--primary-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.react {
  width: 5rem;
  height: 5rem;
  animation: React-logo-spin infinite 20s linear;
  -webkit-animation: React-logo-spin infinite 20s linear;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
@media (hover: hover) {
  .react:hover {
    width: 6rem;
    height: 6rem;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
  }
}
@keyframes React-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*************************** footer design ends here ***********/

/********************* media queries ******************/
@media (min-width: 48rem) {
  .nav ul {
    position: fixed;
    height: 50vh;
    top: 50%;
    left: 0;
    padding-left: 2rem;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }

  .nav ul .nav-link:hover {
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    color: var(--primary-color);
    margin-left: 1rem;
  }
  .intro-paragraphs {
    width: 60%;
  }
  .container {
    width: 60%;
  }

  footer {
    padding: 0 3rem 0 2rem;
  }
  /**************** about starts here **************/

  .section,
  .education-section,
  .skills-section,
  .projects-section {
    width: 60vw;
    padding-left: 2rem;
  }

  /******** contact */

  form,
  .contact-intro {
    width: 50vw;
    margin-left: 1rem;
  }
}

@media (min-width: 64rem) {
  form,
  .contact-intro {
    width: 35rem;
  }
}
/********************* For older smart phones *********/
@media screen and (max-width: 360px) and (max-height: 640px) and (orientation: portrait) {
  body {
    min-height: 140lvh;
  }
  .contact-intro {
    top: 35%;
  }
  form {
    position: absolute;
    top: 85%;
    left: 50%;
    width: 80vw;
    padding-bottom: 10rem;
    transform: translate(-50%, -40%);
    -webkit-transform: translate(-50%, -40%);
    -moz-transform: translate(-50%, -40%);
    -ms-transform: translate(-50%, -40%);
    -o-transform: translate(-50%, -40%);
  }
}
