*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  font-size: clamp(1rem, 3vw + 0.3rem, 1.5rem);
  cursor: pointer;
}
a:link {
  color: #ccc;
}
a:visited {
  color: #ccc;
}
a:hover {
  color: #ccc;
}
a:active {
  color: #ccc;
}
ul {
  list-style-type: none;
}

h1 {
  font-size: clamp(2rem, 3vw + 0.3rem, 3.5rem);
}
h2 {
  font-size: clamp(1.5rem, 3vw + 0.3rem, 3rem);
  color: #22ddff;
}
h3 {
  font-size: clamp(1.2rem, 3vw + 0.3rem, 2rem);
}
p {
  font-size: clamp(1rem, 3vw + 0.2rem, 1.2rem);
  line-height: 1.5rem;
}
span {
  font-size: clamp(1rem, 3vw + 0.2rem, 1.4rem);
}
body {
  background-color: #1d1d20;
  color: #ccc;
  font-family: "Inter", sans-serif;
  min-height: 120lvh;
  overflow-y: auto;
  max-width: 2592px;
  margin: 0 auto;
}
.body-index {
  min-height: 100vh;
  max-height: 100vh;
}
/*************** index/nav design starts here ********************/

.video-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.background-video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.video-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(43, 18, 2, 0.5);
}
.nav-h1 {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 2rem;
  z-index: 3;
  color: #ccc;
  background-color: #1d1d20;
  border-bottom: 0.01rem solid #22ddff;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.index-h1 {
  background-color: unset;
}
nav {
  position: fixed;
  z-index: 3;
  top: 5rem;
  width: 100%;
}

.email-icon {
  position: fixed;
  width: 3rem;
  height: auto;
  right: 2rem;
  top: -1rem;
  z-index: 3;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

nav ul {
  line-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #1d1d20;
  padding-top: 2rem;
  text-align: center;
}
.index-ul {
  background-color: unset;
}

.nav {
  position: fixed;
  z-index: 3;
  top: 5rem;
  width: 100%;
}

.nav ul {
  line-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #1d1d20;
  padding-top: 2rem;
  text-align: center;
}

.nav ul .nav-link {
  width: 9rem;
  position: relative;
  color: #ccc;
  font-weight: bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.homepage-nav ul {
  background-color: unset;
}

.intro-paragraphs {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 60%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  padding-left: 1rem;
}
.intro-paragraphs p {
  margin: 1rem 0;
}
.nav-h1-shrink {
  font-size: 1rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.email-icon-shrink {
  width: 2rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
/*********************** index design ends here ***************/

/*********************** about design starts here ***************/
.container {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.education-section,
.skills-section {
  border-top: 0.01rem solid #ccc;
  padding-top: 0.5rem;
  margin-top: 1rem;
  text-align: left;
}
.section {
  border-top: 0.01rem solid #ccc;
  margin: 3rem auto 0;
  width: 90%;
  text-align: left;
}
.section h3 {
  padding-top: 1rem;
}
.about-spans,
.skills-spans {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.about-spans span {
  border: 0.01rem solid #f1a64e;
  display: inline-block;
  width: max-content;
  padding: 0.5rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.in-progress {
  margin-top: 1rem;
}
.coursera,
.credly {
  margin-top: 2rem;
}
.coursera a,
.credly a {
  font-size: clamp(1rem, 3vw + 0.2rem, 1.2rem);
  color: #22ddff;
  border: 0.01rem solid #22ddff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.date {
  margin-top: 1rem;
  font-size: 1rem;
}
.skills-spans span {
  border: 0.01rem solid #22ddff;
  color: #22ddff;
  display: inline-block;
  width: max-content;
  padding: 0.5rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.last {
  margin-bottom: 3rem;
}
/*********************** projects design starts here ***************/
.section h2 {
  margin-top: 1rem;
  border-top: 0.01rem solid #22ddff;
  border-right: 0.01rem solid #22ddff;
  border-bottom: 0.01rem solid #22ddff;
  width: max-content;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}
img {
  width: 100%;
  height: auto;
  display: block;
  margin: 3rem auto;
}
.objectives-container {
  border-left: 0.01rem solid #22ddff;
  padding-left: 1rem;
}
.objectives-container p {
  margin-bottom: 2rem;
}
p {
  margin: 1rem auto;
}
.created-with {
  margin-top: 3rem;
}
.created-with-container {
  display: flex;
  flex-wrap: wrap;
}
.created-with-container span {
  border: 0.01rem solid #22ddff;
  display: inline-block;
  width: max-content;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.visit-website {
  border: 0.01rem solid #f1a64e;
  color: #f1a64e;
  display: inline-block;
  width: max-content;
  padding: 0.5rem;
  margin: 2rem 0;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.last {
  margin-bottom: 10rem;
}
/*********************** projects design ends here ***************/
/************************* contact design starts here ***********/

.contact-intro {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 80vw;
  transform: translate(-50%, -20%);
  -webkit-transform: translate(-50%, -20%);
  -moz-transform: translate(-50%, -20%);
  -ms-transform: translate(-50%, -20%);
  -o-transform: translate(-50%, -20%);
}
form {
  position: absolute;
  top: 85%;
  left: 50%;
  width: 80vw;
  padding-bottom: 10rem;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.form-field {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 4rem 0;
  position: relative;
}
label {
  position: absolute;
  top: 0;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.shrink {
  top: -1.5rem;
  color: #22ddff;
  font-size: 1rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
input,
textarea {
  font-size: 1rem;
  background-color: inherit;
  outline: none;
  border: none;
  border-right: 0.1rem solid #22ddff;
  border-bottom: 0.1rem solid #22ddff;
  border-left: 0.1rem solid #22ddff;
  padding: 0.5rem;
  color: #ccc;
}
input:focus + label,
textarea:focus + label {
  top: -2rem;
  color: #22ddff;
  font-size: 1rem;
  padding-left: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.submit-button {
  display: block;
  width: 8rem;
  padding: 0.2rem 0.5rem;
  color: #ccc;
  outline: none;
  border: 0.1rem solid #22ddff;
  background-color: inherit;
  font-size: 1rem;
}
.submit-button:hover {
  cursor: pointer;
}

/************************* contact design ends here ***********/

/*************************** footer design starts here ***********/
footer {
  position: fixed;
  display: flex;
  align-items: center;
  background-color: #1d1d20;
  justify-content: space-between;
  width: 100vw;
  bottom: -0;
  padding: 0rem 2rem 0 2rem;
  height: 6rem;
}
.footer-home {
  background-color: unset;
}
.linked-in-git {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8rem;
}
.react-div {
  margin-right: 1rem;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
}
.icon img {
  padding: 0;
  margin: 0;
  display: block;
  height: 3rem;
}
.linked-in {
  border: 0.1rem solid #22ddff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.react {
  width: 5rem;
  height: 5rem;
  animation: React-logo-spin infinite 20s linear;
  -webkit-animation: React-logo-spin infinite 20s linear;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
@media (hover: hover) {
  .react:hover {
    width: 6rem;
    height: 6rem;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
  }
}
@keyframes React-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*************************** footer design ends here ***********/

/********************* media queries ******************/
@media (min-width: 48rem) {
  .nav ul {
    position: fixed;
    height: 50vh;
    top: 50%;
    left: 0;
    padding-left: 2rem;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }

  .nav ul .nav-link:hover {
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    color: #22ddff;
    margin-left: 1rem;
  }
  .intro-paragraphs {
    width: 60%;
  }
  .container {
    width: 60%;
  }

  /**************** about starts here **************/

  .section,
  .education-section,
  .skills-section,
  .projects-section {
    width: 60vw;
    padding-left: 2rem;
  }

  /******** contact */

  form,
  .contact-intro {
    width: 50vw;
    margin-left: 1rem;
  }
}

@media (min-width: 64rem) {
  form,
  .contact-intro {
    width: 35rem;
  }
}
